html{
  scroll-behavior: smooth;
}
 .pagina{
  background-color: black;
  }
.menu_itens{
  align-items: right;
  font-family:"Montserrat", sans-serif;
}
.menu_image {
  /* max-width: 50px; */
  width: 20px;
  height: 20px;
  align-items: center;
  border-radius: 5px;
  /* align-items: left; */
  background-size: 50px;
  background-image: url("https://as2.ftcdn.net/v2/jpg/01/37/81/97/1000_F_137819766_dgFsCLOVCF6fuOjn53t8lpuc9oxsCmtf.jpg");
}

.menu {
  background-color: #101c3a;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 5px 20px;
  text-decoration: none;
  transition: 0.8s ease-in-out;
}
/* Style the links inside the navigation bar */
.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s ease-in-out;
}
/* Change the color of links on hover */
.menu a:hover {
  background-color: #85756E;
  color: black;
  border-radius: 20px;
}
/* Add an active class to highlight the current page */
.menu a.active {
  background-color: #04AA6D;
  color: white;
}
/* Hide the link that should open and close the menu on small screens */
.menu .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the menu (.icon) */
@media screen and (max-width: 600px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the menu with JavaScript when the user clicks on the icon. This class makes the menu look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .menu.responsive {position: relative;}
  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.faixa1{
  background-color: grey;
  max-height: 5px;
} 

.image_slider{
    background-color:rgb(255, 255, 255);
    height:100vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin: 0px  auto;
    flex-direction: column;
  }
  
  .faixa2{
    background-color: rgb(221, 255, 0);
    max-height: 5px;
  }
  .modalidades{
    background-color:rgb(255, 255, 255);
    width: 80vw;
    min-height: 100vh;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin: 0px  auto;
    display: flex;
    flex-direction: column;
  }
  .lista_modalidade{
    background-color: rgba(255, 255, 255, 0.873);
    justify-content: center;
    align-items: center;
    display:flex;
    gap: 50px;
    padding: 50px;
  }
  .faixa3{
    background-color: rgb(255, 123, 0);
    max-height: 5px;
  }
  .depoimentos{
    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    margin: 0px  auto;
  }
  .faixa4{
    background-color: rgb(40, 210, 28);
    max-height: 5px;
  }
  .contato{
    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    margin: 0px  auto;
  }
  .faixa5{
    background-color: rgb(166, 0, 243);
    max-height: 5px;
  }
  .rodape{
    background-color: #101c3a;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    margin: 0px  auto;
  }

  #back-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    display: none;
  }
  #back-to-top a {
    display: block;
    width: 40px;
    height: 40px;
    background: #515A5F url("https://static.vecteezy.com/system/resources/previews/014/455/887/non_2x/curve-arrow-upward-icon-on-transparent-background-free-png.png") no-repeat center center;
    text-indent: -9999px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
  }
  #back-to-top a:hover {
    background-color: #222222;
  }
  /*  #101c3a 
      #000000
      #ffffff
      #FE5F55
      #DE6B48
      #85756E
      #5B7553
  */

/* Fonts Styles:

// <uniquifier>: Use a uniquifier for the class name

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.black-ops one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

   */