:root{
  --main_color : #1B2020;
  --red : #EF3A5C;
  --pinkish: #c55066;
  --blue: #425B91;
  --dark_brown: #332528;
  --light_brown: #705358;
}


html{
  scroll-behavior: smooth;
  margin: 0px;
  background-color: black;
}
.pagina{
  background-color: white;
  }
.menu_itens{
  justify-content: flex-end;
  font-family:"Montserrat", sans-serif;
  margin-right: 50px;
}
.menu {
  background-color:var(--main_color);
  overflow: hidden;
  display: flex;
  /* justify-content: center; */
  /* justify-content:space-around; */
  justify-content:space-between;
  align-items: center;
  gap: 200px;
  padding: 5px 0px;
  text-decoration: none;
  transition: 0.8s ease-in-out;
}
.menu_image {
  margin-left: 50px;
  width: 25px;
  height:25px;
  border-radius: 20px;
  background-size: cover;
  background-image: url("../assets/logoonlywhite.png");
}

/* Style the links inside the navigation bar */
.menu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}
/* Change the color of links on hover */
.menu a:hover {
  background-color: var(--light_brown);
  color: white;
  border-radius: 30px;
}
/* Hide the link that should open and close the menu on small screens */
.menu .icon {
  display: none;
}

.localhome{

  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #000000;

}

.slider{
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  border-radius: 50px;
  margin: 10px auto;
  
}
.slides{
  width: 400%;
  height: 400px;
  display: flex;
}
.slides input{
  display: none;
}

.slide{
  width: 25%;
  position:relative;
  transition: 2s ease-in-out;

}

.slide img{
  width: 100%;
  border-radius: 5px;
}

.manual-navigation{
  position: absolute;
  width: 80vw;
  margin-top: 50px ;
  display: flex;
  justify-content: center;   
}
.manual-btn{
  
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: #fff;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left:-25%;
}

#radio3:checked ~ .first{
  margin-left:-50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  border: 2px solid #150adb;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.navigation-auto{
  position: absolute;
  width: 80vw;
  margin-top: 450px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~.navigation-auto .auto-btn1{
  background-color: #fff;
}
#radio2:checked ~.navigation-auto .auto-btn2{
  background-color: #fff;
}
#radio3:checked ~.navigation-auto .auto-btn3{
  background-color: #fff;
}
#radio4:checked ~.navigation-auto .auto-btn4{
  background-color: #fff;
}



  #back-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    display: none;
  }
  #back-to-top a {
    display: block;
    width: 20px;
    height: 20px;
    background: #515a5f url("https://w7.pngwing.com/pngs/418/550/png-transparent-arrow-circle-up-solid-icon.png") no-repeat center center;
    background-size:cover;
    text-indent: -9999px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
  }
  #back-to-top a:hover {
    background-color: #222222;
  }
  
.sobre {
  background-color: #f2f2f2;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
}

.texto_sobre{
  font-family: "Montserrat";
  display: flex;
  /* flex-wrap: wrap; */
  padding: 20px 0;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
  
}

.texto_sobre h1{
  font-size: 40px;
  font-weight: 500;
}
.texto_sobre h2{ 
  font-size: 20px;
}
.container_conteudo_sobre{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100px; */
  padding: 20px 0;
  flex-direction: row;
  transition: 0.5 ease-in-out;
}


.conteudo_sobre{
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0 ;
}


.conteudo_sobre img{
  max-width: 400px;
  border-radius: 20px;
  
}

.conteudo_sobre h2{
  font-size: 20px;
  font-style: italic;
  padding: 10px 0 ;
  font-weight: 550;
}
.conteudo_sobre h3{
  font-size: 15px;
}

.modalidades{
  background-color: #000000 ;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  margin: 0px  auto;
  display: flex;
  flex-direction: column;
  
}
.lista_modalidade{

  min-width: 80vw;
  justify-content: center;
  align-items: center;
  display:flex;
  padding: 20px 0 ;
  gap: 100px;
  flex-wrap: nowrap;

}

.lista_modalidade h2{
  font-size: 20px;
  font-style: italic;
  padding: 10px 0;
  font-weight: 550;
  text-align: center;

}
.lista_modalidade p {
  font-size: 20px;
  margin-left: 20px;
}
.lista_modalidade img{
  max-width: 400px;
}

.modalidade{
  background-color: rgba(33, 69, 33, 0.873);
  border-radius: 50px;
  padding: 20px 0 ;
}

.depoimentos {
  width: 100vw;
  padding: 20px 0px;
  align-items: center;
  margin: 10px auto;
  margin-bottom: 50px;
  overflow: hidden; 
}

.container_depoimentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  gap: 20px;
  padding: 20px 0;
  margin: 10px;
}

.depoimento_content {
  width: calc(40% - 30px); /* Adjust width based on the number of items per row */
  background-color: #85756e;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
  margin: 20px;
  padding: 10px 0;
  border-radius: 50px;
  align-items: center;
  font-family: "Montserrat";
  font-size: 20px;
}
  .depoimento_content p{
    margin: 0 20px;
  }
  .depoimento_image{
    border-radius: 20px;
    background-image: url(https://img.freepik.com/free-photo/designer-working-3d-model_23-2149371896.jpg?w=360&t=st=1706654073~exp=1706654673~hmac=e7a08fe47f632103674200cd5837b800ac561edc75b4f2caf37624bbe16cf1d1);
    background-color: #04AA6D;
    filter:drop-shadow(rgb(0, 0, 0) 0.5rem 0.5rem 1rem);
    background-size: cover;
    width: 250px;
    height: 250px;
  }
  .link_depoimentos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: 50%;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    background-color: #c5c7bd;
    color: #000000;
    margin: 20px auto;
    width: 150px;
    border-radius: 20px;
    padding: 30px;
    filter: drop-shadow(rgb(0, 0, 0) 0.2rem 0.2rem 0.2rem);
    transition: 0.5s ease-in-out;
    
  }
  .link_depoimentos:hover{
    scale: 1.2;
  }

  
  .contato {
    background-color: #04aa6d;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column; /* Adjust to a column layout on smaller screens */
    padding: 20px 0;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 30px;
  }
  
  .contatos_container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .contatos_container h1,
  .contatos_container p {
    padding: 10px ;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
  }
  
  .socialmedia {
    display: flex;
    gap: 20px;
    }

  .socialmedia a{
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    transition: 0.5s ease-in-out;
  }
  .socialmedia a:hover {
    text-decoration: none;
    font-size: 22px;
  }
  
  .rodape {
    background-color: #0d152c;
    height: 150px;
    display: flex;
    padding: 20px 0;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
  }
  
  .rodape_container {
    color: #c5c7bd;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  

.footer_btn{
  background:none;
  color: rgb(202, 109, 249);
  font-size: 20px;
  font-family: "Montserrat";
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

  /*  #101c3a 
      #000000
      #ffffff
      #FE5F55
      #DE6B48
      #85756E
      #5B7553
      */

/* Fonts Styles:

// <uniquifier>: Use a uniquifier for the class name

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.black-ops one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
